<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
        <setting label="Dirección URL (http://example.com):" type="text" id="url_address" default="http://peliculasaudiolatino.com/"/>
        <setting label="Directorio de Películas:" type="folder" id="movie_folder" source="videos" option="writeable" default=""/>
		<setting label="Directorio de TV Series:" type="folder" id="show_folder" source="videos" option="writeable" default=""/>
		<setting label="Sobreescribir los archivos .strm existentes:" type="bool" id="overwrite" default="false"/>
		<setting label="Mensaje de Notificación" type="lsep"/>
		<setting label="Tiempo (milisegundos):" type="slider" id="time_noti" default="1500" range="0,125,2000" option="int" />
	</category>
	<category label="Servicio">
		<setting label="Correr como un Servicio (verificación en cada arranque de Kodi):" type="bool" id="service" default="true"/>
		<setting label="Actualización contínua @ 8h:" type="bool" id="persistent" enable="eq(-1,true)" default="false"/>
		<setting label="Paginas a bajar" type="slider" id="pages" default="1" range="1,1,10" option="int" enable="eq(-2,true)"/>
		<setting label="Películas Estreno:" type="bool" id="peliculasEstreno" default="false" enable="eq(-3,true)"/>
		<setting label="Películas Actualizadas:" type="bool" id="peliculasActualizadas" default="false" enable="eq(-4,true)"/>
		<setting label="Películas Las más Vistas:" type="bool" id="peliculasVistas" default="false" enable="eq(-5,true)"/>
		<setting label="Todas Películas:" type="bool" id="todasPeliculas" default="false" enable="eq(-6,true)"/>
		<!--<setting label="Últimos Épisodios:" type="bool" id="episodioEstreno" default="false" enable="eq(-6,true)"/>-->
		<!--<setting label="Épisodios Estreno:" type="bool" id="premiereEpisodio" default="false" enable="eq(-7,true)"/>-->
		<!--<setting label="Épisodios Actualizados:" type="bool" id="actualizadosEpisodes" default="false" enable="eq(-8,true)"/>-->
	</category>
</settings>
