<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32050">
        <setting label="32093" type="text" id="urlAddress" default="https://yts.to"/>
        <setting label="32051" type="folder" id="movieFolder" source="videos" option="writeable" default=""/>
        <setting label="32054" type="labelenum" id="plugin" values="Pulsar|KmediaTorrent|XBMCtorrent|Torrenter"/>
		<setting label="32055" type="bool" id="overwrite" default="false"/>
		<setting label="32057" type="lsep"/>
		<setting label="32058" type="slider" id="timeNotification" default="1.5" range="0,0.125,2" option="float" />
	</category>
	<category label="32059">
		<setting label="32060" type="bool" id="service" default="true"/>
		<setting label="32061" type="bool" id="persistent" enable="eq(-1,true)" default="false"/>
        <setting label="32160" type="labelenum" id="quality" values="720p|1080p|3D" enable="eq(-2,true)"/>
		<setting label="32161" type="slider" id="minimum" default="0" range="0,1,9" option="int" enable="eq(-3,true)"/>
		<setting label="32162" type="labelenum" id="sort" values="Year|Rating|Seeds|Downloaded Count|Like Count|Date Addded" enable="eq(-4,true)"/>
		<setting label="32163" type="slider" id="pages" default="1" range="1,1,5" option="int" enable="eq(-5,true)"/>
	</category>
</settings>
