<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
        <setting label="Dirección URL Películas (http://example.com):" type="text" id="url_address" default="http://www.yaske.cc"/>
		<setting label="Dirección URL TV Series(http://example.com):" type="text" id="url_address2" default="http://www.seriesflv.net"/>
        <setting label="Directorio de Películas:" type="folder" id="movie_folder" source="videos" option="writeable" default=""/>
		<setting label="Directorio de TV Series:" type="folder" id="show_folder" source="videos" option="writeable" default=""/>
		<setting label="Directorio de Anime:" type="folder" id="anime_folder" source="videos" option="writeable" default=""/>
		<setting label="Sobreescribir los archivos .strm existentes:" type="bool" id="overwrite" default="false"/>
		<setting label="Mensaje de Notificación" type="lsep"/>
		<setting label="Tiempo (milisegundos):" type="slider" id="time_noti" default="1500" range="0,125,2000" option="int" />
	</category>
	<category label="Servicio">
		<setting label="Correr como un Servicio (verificación en cada arranque de Kodi):" type="bool" id="service" default="true"/>
		<setting label="Actualización contínua @ 8h:" type="bool" id="persistent" enable="eq(-1,true)" default="false"/>
		<setting label="Paginas a bajar" type="slider" id="pages" default="1" range="1,1,10" option="int" enable="eq(-2,true)"/>
		<setting label="Películas" type="bool" id="peliculas" default="false" enable="eq(-3,true)"/>
		<setting label="Series" type="bool" id="series" default="false" enable="eq(-4,true)"/>
		<setting label="Animes" type="bool" id="animes" default="false" enable="eq(-5,true)"/>
	</category>
</settings>
